---
import PresentationLayout from '@/layouts/PresentationLayout.astro';
---

<PresentationLayout
  title="Опять работа?!"
  description="Рекурсия и стэк | @alexeycorr"
>
  <section class="slide main" id="main">
    <h2>Опять работа?!</h2>
    <p>Рекурсия и стек</p>
    <style>
      #main h2 {
        margin: 30px 0 0;
        color: white;
        text-align: center;
        font-size: 70px;
      }

      #main p {
        margin: 10px 0 0;
        text-align: center;
        color: white;
        font-style: italic;
        font-size: 20px;
      }

      #main p a {
        color: white;
      }

      .main {
        background-blend-mode: color-dodge;
        background-repeat: space;
        background-size: 50px;
        background-image: url('../../assets/shower/again-work/pictures/worker.webp');
      }
    </style>
  </section>

  <section class="slide">
    <h2>Рекурсия и стек</h2>

    <div class="columns two">
      <p>
        Рекурсия - это метод, при котором функция вызывает саму себя для решения
        проблемы.
      </p>

      <p class="next">
        Cтек - это структура данных, которая следует принципу LIFO (last in,
        first out).
      </p>
    </div>
  </section>

  <section class="slide">
    <video
      class="video"
      style="margin: 0 auto; display: block;"
      src="../../assets/shower/again-work/pictures/stack.mp4"
      autoplay
      loop
      muted
      width="600"
      height="600"
    >
    </video>
  </section>

  <section class="slide">
    <h2>Рекурсия</h2>

    <div class="columns two">
      <video
        class="video"
        src="../../assets/shower/again-work/pictures/recursion.mp4"
        autoplay
        loop
        muted
        width="400"
        height="300"
      >
      </video>

      <div>
        Для рекурсивного решения задачи, нужно:

        <ul>
          <li class="next">Базовый случай</li>
          <li class="next">Простая функция</li>
          <li class="next">Хранилице</li>
        </ul>
      </div>
    </div>

    <style>
      .video {
        max-width: 100%;
        height: auto;
      }
    </style>
  </section>

  <section class="slide">
    <h2>Факториал числа</h2>

    <div class="columns two" style="grid-column-gap: 10px;">
      <p>5! = 1 * 2 * 3 * 4 * 5 = 120</p>

      <ul>
        <li class="next">
          Базовый случай - <mark class="next">n === 1</mark>
        </li>
        <li class="next">
          Простая функция - <mark class="next">n * factorial(n - 1)</mark>
        </li>
        <li class="next">
          Хранилице - <mark class="next">📚</mark>
        </li>
      </ul>

      <img
        class="next"
        src="../../assets/shower/again-work/pictures/factorial.png"
        width="350"
        height="200"
        alt="factorial"
      />
    </div>
  </section>

  <section class="slide">
    <h2>Stack</h2>

    <ol>
      <li class="next">
        Глобальный контекст выполнения.<br />
        <i
          >Используемый по умолчанию. Если говорить про браузер, то там
          создается объект window и на него будет указывать this.</i
        >
      </li>
      <li class="next">
        Контекст выполнения функции.<br />
        <i
          >Каждый раз, когда вызывается функция, для неё создаётся новый
          контекст.</i
        >
      </li>
    </ol>

    <img
      class="next"
      style="position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%, -50%);"
      src="../../assets/shower/again-work/pictures/stack.png"
      width="800"
      alt=""
    />

    <a href="https://habr.com/ru/companies/ruvds/articles/422089/">Подробнее</a>
  </section>

  <section class="slide">
    <h2>Как это работает?</h2>

    <div class="columns two">
      <table class="table">
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>Стек вызовов</td>
        </tr>
      </table>

      <img
        src="../../assets/shower/again-work/pictures/factorial.png"
        width="350"
        height="200"
        alt="factorial"
      />
    </div>

    <style>
      .table {
        margin-left: 0 !important;
        width: 100% !important;
      }

      .table td {
        width: 100%;
        border: 1px solid var(--color-line);
        text-align: center;
        padding: 0 !important;
        background-color: #333;
        line-height: 1;
      }

      .table td:not(:empty) {
        background-color: #11af50;
      }

      .table td.active {
        background-color: #4cafa6;
      }

      .table td.check {
        background-color: #ffaa00;
      }

      .table tr {
        height: 45px;
      }
    </style>
  </section>

  <section class="slide">
    <h2>Как это работает?</h2>

    <div class="columns two">
      <table class="table">
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <mark>5 * factorial(4)</mark>
          </td>
        </tr>
        <tr>
          <td>Стек вызовов</td>
        </tr>
      </table>

      <img
        src="../../assets/shower/again-work/pictures/factorial.png"
        width="350"
        height="200"
        alt="factorial"
      />
    </div>
  </section>

  <section class="slide">
    <h2>Как это работает?</h2>

    <div class="columns two">
      <table class="table">
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <mark>4 * factorial(3)</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>5 * factorial(4)</mark>
          </td>
        </tr>
        <tr>
          <td>Стек вызовов</td>
        </tr>
      </table>

      <img
        src="../../assets/shower/again-work/pictures/factorial.png"
        width="350"
        height="200"
        alt="factorial"
      />
    </div>
  </section>

  <section class="slide">
    <h2>Как это работает?</h2>

    <div class="columns two">
      <table class="table">
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <mark>3 * factorial(2)</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>4 * factorial(3)</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>5 * factorial(4)</mark>
          </td>
        </tr>
        <tr>
          <td>Стек вызовов</td>
        </tr>
      </table>

      <img
        src="../../assets/shower/again-work/pictures/factorial.png"
        width="350"
        height="200"
        alt="factorial"
      />
    </div>
  </section>

  <section class="slide">
    <h2>Как это работает?</h2>

    <div class="columns two">
      <table class="table">
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <mark>2 * factorial(1)</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>3 * factorial(2)</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>4 * factorial(3)</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>5 * factorial(4)</mark>
          </td>
        </tr>
        <tr>
          <td>Стек вызовов</td>
        </tr>
      </table>

      <img
        src="../../assets/shower/again-work/pictures/factorial.png"
        width="350"
        height="200"
        alt="factorial"
      />
    </div>
  </section>

  <section class="slide">
    <h2>Как это работает?</h2>

    <div class="columns two">
      <table class="table">
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <mark>1</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>2 * factorial(1)</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>3 * factorial(2)</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>4 * factorial(3)</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>5 * factorial(4)</mark>
          </td>
        </tr>
        <tr>
          <td>Стек вызовов</td>
        </tr>
      </table>

      <img
        src="../../assets/shower/again-work/pictures/factorial.png"
        width="350"
        height="200"
        alt="factorial"
      />
    </div>
  </section>

  <section class="slide">
    <h2>Как это работает?</h2>

    <div class="columns two">
      <table class="table">
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <mark>2 * 1</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>3 * factorial(2)</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>4 * factorial(3)</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>5 * factorial(4)</mark>
          </td>
        </tr>
        <tr>
          <td>Стек вызовов</td>
        </tr>
      </table>

      <img
        src="../../assets/shower/again-work/pictures/factorial.png"
        width="350"
        height="200"
        alt="factorial"
      />
    </div>
  </section>

  <section class="slide">
    <h2>Как это работает?</h2>

    <div class="columns two">
      <table class="table">
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <mark>3 * 2</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>4 * factorial(3)</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>5 * factorial(4)</mark>
          </td>
        </tr>
        <tr>
          <td>Стек вызовов</td>
        </tr>
      </table>

      <img
        src="../../assets/shower/again-work/pictures/factorial.png"
        width="350"
        height="200"
        alt="factorial"
      />
    </div>
  </section>

  <section class="slide">
    <h2>Как это работает?</h2>

    <div class="columns two">
      <table class="table">
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <mark>4 * 6</mark>
          </td>
        </tr>
        <tr>
          <td>
            <mark>5 * factorial(4)</mark>
          </td>
        </tr>
        <tr>
          <td>Стек вызовов</td>
        </tr>
      </table>

      <img
        src="../../assets/shower/again-work/pictures/factorial.png"
        width="350"
        height="200"
        alt="factorial"
      />
    </div>
  </section>

  <section class="slide">
    <h2>Как это работает?</h2>

    <div class="columns two">
      <table class="table">
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <mark>5 * 24</mark>
          </td>
        </tr>
        <tr>
          <td>Стек вызовов</td>
        </tr>
      </table>

      <img
        src="../../assets/shower/again-work/pictures/factorial.png"
        width="350"
        height="200"
        alt="factorial"
      />
    </div>
  </section>

  <section class="slide">
    <h2>Как это работает?</h2>

    <div class="columns two">
      <table class="table">
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>Стек вызовов</td>
        </tr>
      </table>

      <div>
        <img
          src="../../assets/shower/again-work/pictures/factorial.png"
          width="350"
          height="200"
          alt="factorial"
        />

        <mark>5! = 120</mark>

        <p>
          <a
            target="_blank"
            href="http://latentflip.com/loupe/?code=ZnVuY3Rpb24gZmFjdG9yaWFsKG4pIHsKICBpZiAobiA9PT0gMSkgewogICAgcmV0dXJuIDE7CiAgfQoKICByZXR1cm4gbiAqIGZhY3RvcmlhbChuIC0gMSk7Cn0KCmZhY3RvcmlhbCg1KTsK!!!PGJ1dHRvbj5DbGljayBtZSE8L2J1dHRvbj4%3D"
          >
            Демо
          </a>
        </p>
      </div>
    </div>
  </section>

  <section class="slide">
    <h2>Преимущества и недостатки</h2>

    <div class="columns two">
      <div class="next">
        <b> Преимущества:</b>

        <ul>
          <li class="next">Позволяет элегантно решать задачи</li>
          <li class="next">Короче и проще в написании</li>
          <li class="next">
            Хорошо подходит для обработки рекурсивных структур данных, таких как
            деревья и связанные списки
          </li>
        </ul>
      </div>

      <div class="next">
        <b> Недостатки:</b>

        <ul>
          <li class="next">
            Рекурсия может быть менее эффективной, чем итеративный подход с
            циклом
          </li>
          <li class="next">Глубина рекурсии ограничена объемом памяти</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="slide">
    <h2>Глубина рекурсии</h2>

    <p class="accent">Uncaught RangeError: Maximum call stack size exceeded</p>

    <div class="columns two">
      <img
        class="next"
        src="../../assets/shower/again-work/pictures/full-1.png"
        width="350"
        alt=""
      />

      <img
        class="next"
        src="../../assets/shower/again-work/pictures/full-2.png"
        width="350"
        alt=""
      />
    </div>
  </section>

  <section class="slide">
    <style>
      .examples {
        position: relative;
      }

      .example {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 350px;
      }

      .example--center {
        right: 50%;
        transform: translate(50%, -50%);
      }

      .next.visited .example {
        opacity: 1;
      }
    </style>

    <h2>Сложность рекурсии</h2>

    <ul class="examples">
      <li class="next">
        Простая рекурсия - <mark>O(N)</mark>

        <img
          class="example"
          src="../../assets/shower/again-work/pictures/factorial.png"
          alt
        />
      </li>

      <li class="next">
        Многократная рекурсия - <mark
          class="next accent"
          style="text-decoration: line-through;">O(N^2)</mark
        >
        <mark class="next">O(2^N)</mark>

        <img
          class="example"
          src="../../assets/shower/again-work/pictures/fibonacci.png"
          alt
        />
      </li>
    </ul>

    <img
      class="next example example--center"
      src="../../assets/shower/again-work/pictures/tree.png"
      alt="Дерево рекурсии"
    />
  </section>

  <section class="slide test">
    <style>
      .test form {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: auto repeat(2, 1fr) max-content;
      }

      .test label,
      .test .result {
        grid-column: 1/-1;
      }

      .result {
        display: grid;
        grid-gap: 4px;
        overflow-y: auto;
      }

      .test input {
        all: unset;
        width: 150px;
        height: 56px;
        padding: 10px 15px;
        border: 1px solid var(--color-grey);
        border-radius: 0.2em;
        font: inherit;
      }

      .test button {
        all: unset;
        padding: 10px 30px;
        background-color: var(--color-key);
        font: inherit;
        text-align: center;
        color: #fff;
        cursor: pointer;
        border-radius: 0.2em;
      }

      .test button:hover {
        background-color: #307d76;
      }

      .test button:focus-visible {
        background-color: #307d76;
      }
    </style>

    <h2>Время работы</h2>

    <form id="test-fib">
      <label for="fib"> Введите номер последовательности Фибоначчи</label>

      <input
        id="fib"
        name="len"
        type="text"
        placeholder="№"
        required
      />
      <button data-type="recursion" type="submit">Recursion</button>
      <button data-type="iteration" type="submit">Iteration</button>
      <button data-type="reset" type="submit">Reset</button>

      <div class="result"></div>
    </form>

    <script is:inline>
      const fibonacciRec = (n) => {
        if (n <= 1) {
          return n;
        }

        return fibonacciRec(n - 1) + fibonacciRec(n - 2);
      };

      const fibonacci = (n) => {
        let a = 1;
        let b = 1;

        for (let i = 3; i <= n; i++) {
          let c = a + b;
          a = b;
          b = c;
        }

        return b;
      };

      function showResult(parent, data) {
        const node = document.createElement('mark');
        node.textContent = data;
        parent.querySelector('.result').prepend(node);
      }

      function getTime(fn) {
        let t0;
        let t1;

        t0 = performance.now();
        fn();
        t1 = performance.now();

        return t1 - t0;
      }

      let time = 0;
      const formPalidrome = document.querySelector('#test-fib');

      formPalidrome.addEventListener('submit', (evt) => {
        evt.preventDefault();

        const type = evt.submitter.dataset.type;

        if (type === 'reset') {
          evt.target.querySelector('.result').innerHTML = '';
          formPalidrome.reset()
          return;
        }

        const number = +evt.target.len.value;
        let n;

        if (type === 'recursion') {
          time = getTime(() => {
            n = fibonacciRec(number);
          });
        } else if (type === 'iteration') {
          time = getTime(() => {
            n = fibonacci(number);
          });
        }

        showResult(evt.target, `Number: ${n}; ${type}: ${time} ms`);
      });
    </script>
  </section>

  <section class="slide">
    <h2>Заключение</h2>

    <ul>
      <li>
        Хорошо подходит для обработки рекурсивных структур данных, таких как
        деревья или связанные списки
      </li>
      <li>Очень быстро можно упереться в максимальную глубину рекурсии</li>
      <li>В случае многократной рекурсии получаем офигеть какую сложность</li>
      <li>
        Для большого количества данных лучше воспользоваться итеративным
        подходом
      </li>
    </ul>
  </section>

  <section class="slide">
    <video
      class="video"
      style="margin: 0 auto; display: block;"
      src="../../assets/shower/again-work/pictures/thanks.mp4"
      autoplay
      loop
      muted
      width="600"
      height="600"
    >
    </video>
  </section>

  <section class="slide">
    <style>
      .social {
        display: grid;
        grid-gap: 10px 20px;
        grid-template-columns: repeat(5, max-content);
        align-items: center;
        width: 100%;
      }

      .social h3 {
        margin: 0;
        grid-column: 1/-1;
      }

      .social span {
        grid-column: 1/-1;
      }

      .social a {
        display: flex;
        flex-direction: column;
        background: none;
        color: #fff;
      }
    </style>

    <h2>Подписывайтесь, ставьте лайки!</h2>

    <div class="social">
      <a href="https://alexeycorr.dev/presentation/again-work" target="_blank">
        <img
          src="../../assets/shower/again-work/pictures/presentation.webp"
          width="148"
          height="148"
        />
         Presentation
      </a>

      <a
        href="https://www.linkedin.com/in/alexey-koryakin-a3b884192/"
        target="_blank"
      >
        <img
          src="../../assets/shower/again-work/pictures/linkedin.webp"
          width="148"
          height="148"
        />
         Linkedin
      </a>

      <a href="tg://resolve?domain=alexeycorr" target="_blank">
        <img
          src="../../assets/shower/again-work/pictures/telegram.webp"
          width="148"
          height="148"
        />
         Telegram
      </a>

      <span>@alexeycorr</span>
    </div>
  </section>
</PresentationLayout>
