---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout>
	<h1>Presentations</h1>

  <ul>
    <li>
      <a href="/presentation/regexp">
        regexp
      </a>
    </li>
    <li>
      <a href="/presentation/big-o">
        big-o
      </a>
    </li>
    <li>
      <a href="/presentation/again-work">
        Опять работа?
      </a>
    </li>
  </ul>
</BaseLayout>
