@use '@/styles/variables' as *;

.container {
  padding-inline: 16px;

  @media (min-width: $md) {
    padding-inline: 48px;
  }

  @media (min-width: $xxl) {
    padding-inline: calc((100% - 1540px) / 2);
  }
}
