@font-face {
	font-family: 'FiraSans';
	font-weight: 400;
	font-style: normal;
  font-display: swap;
	src: url('/assets/fonts/FiraSansRegular.woff2') format('woff2');
}

@font-face {
	font-family: 'FiraSans';
	font-weight: 600;
	font-style: normal;
  font-display: swap;
	src: url('/assets/fonts/FiraSansSemiBold.woff2') format('woff2');
}
