---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Hello Rimma" description="Kak dela?">
  <section class="container">
    <h1>Римма, привет!</h1>

    <p class="rimma-text"></p>

    <img src="../assets/img/rimma/wait.jpg" alt="Римма что-то ждёт:)">

    <a href="https://htmlacademy.ru/courses/basic-styling" class="link">
      Переходи по ссылке:)
    </a>
  </section>
</BaseLayout>

<script>
  const TYPING_SPEED = 250
  const TYPING_DELAY = 500
  const element = document.querySelector('.rimma-text')
  const greetings = ['Римма', 'как', 'дела', 'с', 'таблицей?', 'И ещё', 'кое-что', 'Ты', 'ещё', 'помнишь', 'про', 'htmlacademy', '?', 'Ссылка', 'ниже:)']

  const typing = () => {
    let textIndex = 0
    let index = 0
    let interval: ReturnType<typeof setInterval>
    let timeout: ReturnType<typeof setTimeout>

    const type = (str: string) => {
      interval = setInterval(() => {
        if (index > str.length) {
          clearInterval(interval)
          element?.classList.add('rimma-text--animate')

          timeout = setTimeout(() => {
            backspace(str)
          }, TYPING_DELAY)
        } else {
          clearTimeout(timeout)
          element?.classList.remove('rimma-text--animate')
          element && (element.textContent = str.slice(0, index))
          index++
        }
      }, TYPING_SPEED)
    }

    const backspace = (str: string) => {
      interval = setInterval(() => {
        if (index < 0) {
          clearInterval(interval)
          element?.classList.add('rimma-text--animate')

          timeout = setTimeout(() => {
            index = 0
            textIndex = textIndex === (greetings.length - 1) ? 0 : ++textIndex
            type(greetings[textIndex])
          }, TYPING_SPEED)
        } else {
          clearTimeout(timeout)
          element?.classList.remove('rimma-text--animate')
          element && (element.textContent = str.slice(0, index))
          index--
        }
      }, TYPING_SPEED)
    }

    type(greetings[textIndex])
  }

  typing()
</script>

<style>
  .rimma-text {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--accent-color);
    font-family: 'Neue Machina';
    font-size: clamp(24px, 6vw, 36px);
    font-weight: 800;

    &::after {
      content: '|';
      animation: none;
    }

    &--animate::after {
      animation: blink 1s infinite;
    }
  }
  .link {
    display: block;
  }
</style>
