---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Hello Rimma" description="Kak dela?">
	<h1>Римма, привет!</h1>

  <a href="https://htmlacademy.ru/courses/basic-styling" class="link">
    Переходи по ссылке:)
  </a>
</BaseLayout>

<style>
  .link {
    display: block;
  }
</style>
