---
import { getEntry } from 'astro:content';
import { getLangFromUrl } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);

const { data } = await getEntry('footer', `${lang}/footer`);
---

<footer class="footer container" id="contacts">
	<div class="footer__block">
		<span class="footer__description">
			{ data.description }
		</span>

		<a class="footer__mail" href="mailto:alexeycorr@gmail.com">
			alexeycorr@gmail.com
		</a>
	</div>
</footer>

<style lang="scss">
	@use '@/styles/mixins' as *;
	@use '@/styles/variables' as *;

	.footer {
		display: grid;
		align-items: center;
		justify-content: center;
		grid-gap: 20px;
		padding-top: 120px;
		padding-bottom: 120px;

		@media (min-width: $lg) {
			padding-top: 300px;
			padding-bottom: 300px;
		}
	}

	.footer__description {
		display: block;
		margin-bottom: 2px;
		font-size: 12px;
	}

	.footer__mail {
		position: relative;
    font-family: 'Neue Machina';
    font-weight: 800;
		font-size: clamp(20px, 4vw, 48px);
		transition: color .2s ease-in-out;

		&:hover {
			color: var(--accent-color);
		}
	}
</style>
