---
const currentYear = new Date().getFullYear();
---

<footer class="footer">
	<p>&copy; {currentYear} @alexeycorr</p>
</footer>

<style>
	.footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}
</style>