<header class="header">
  <a href="/">
    <img
      width="20"
      height="20"
      src="../assets/img/logo.svg"
      alt=""
    >
  </a>
</header>

<style>
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
</style>