---
import { getEntry } from 'astro:content';
import Navigation from '@/components/Navigation.astro'

const { data } = await getEntry('menu', 'menu');
---

<header class="header container">
  <a class="header__logo" href="/">
    <img
      width="20"
      height="20"
      src="../assets/img/logo.svg"
      alt=""
    >
  </a>

  <Navigation
    menu={data.menu}
    toggleText={data.toggleText}
  />
</header>

<style lang="scss">
  @use '@/styles/variables' as *;

  .header {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 20px 40px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width: $lg) {
      grid-template-columns: 20px auto;
    }
  }

  .header__logo {
    display: block;
    width: 20px;
    height: 20px;
  }
</style>