---
import '../styles/styles.scss';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'AlexeyCorr',
	description = 'The personal site of AlexeyCorr',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<link rel="preload" href="/assets/fonts/FiraSansRegular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/FiraSansSemiBold.woff2" as="font" type="font/woff2" crossorigin>

<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
