---
import BaseLayout from '@/layouts/BaseLayout.astro';

export function getStaticPaths () {
	return [
		{ params: { lang: 'en' }},
		{ params: { lang: 'ru' }}
	];
}
---

<BaseLayout title="About | AlexeyCorr" description="About AlexeyCorr">
	<h1>Contacts</h1>
</BaseLayout>
