---
import { getEntry } from 'astro:content';
import { getLangFromUrl } from '@/i18n/utils';

import Header from '@/components/Header.astro';
import MainHead from '@/components/MainHead.astro';
import Footer from '@/components/Footer.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const lang = getLangFromUrl(Astro.url);

const { title, description } = Astro.props;
const { data } = await getEntry('description', `${lang}/description`);
---

<html lang={lang}>
	<MainHead
		title={title ?? data.title}
		description={description ?? data.description}
	/>

	<body class="page">
		<Header />

		<main class="page__main">
			<slot />
		</main>

		<Footer />
	</body>
</html>

<style>
	.page {
		display: grid;
		grid-template-rows: auto 1fr auto;
	}
</style>
